__pycache__/
.DS_Store
.vscode/
predictions*/
plots_predictions*/
analysis*/
*.pdf
mlruns/
tensorboard/
ensemble/
bootstrap/
xanesnet/model/__pycache__/
*.egg-info
build/
models/
!xanesnet/models/
!tests/models/
outputs/
data/datasets/graph-set/xyz_train/graph/
data/datasets/graph-set/xyz_test/graph/
.github/workflows/data/graph-set/xyz_test/graph/
.github/workflows/data/graph-set/xyz_train/graph/
data/graph-set/xyz_train/graph
tests/data/xyz/graph
tests/data/xyz_predict/graph
.idea/
